* {
    margin: 0px;
    padding: 0px;
}

/* header styles */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 70px;
    background-color: white
}

.title {
    align-items: center;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    display: flex;
    background-color: rgb(252, 243, 231);
    padding: 8px;
    gap: 4px;
}

.logo {
    display: flex;
    gap: 10px;
    width: 86.041px;
    height: 40px;
    margin-left: 50px;
}

h1 {
    margin-top: 70px;
    margin-left: 80px;
    font-family: work sans-serif;
}

.image1 {
    padding-left: 300px;
}

.description {
    margin-top: 20px;
    margin-left: 80px;
}

/* banner styles */

.banner-container {
    background-color: rgb(242, 236, 225);
    display: flex;
}

.banner-container > .banner-title {
    color: #0B0223;
    font-family: Work Sans;
    font-weight: 600;
    display: flex;
}

.banner-title {
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-heading, .banner-description {
    margin-left: 50px;
}

.banner-description {
    gap: 50px;
}

.banner-writings, .image1 {
    display: flex;
}

ul {
    list-style: none;
    margin-top: 250px;

}

/* button styles */

.btn-primary {
    padding-left: 80px;
    padding-top: 15px;
}

.btn {
    padding: 10px;
    border-radius: 10%;
    background-color: rgb(210, 67, 210);
    color: white;
    border-style: none;
}



.btn1 {
    padding: 10px;
    border-radius: 12%;
    border-style: none;
    background-color: magenta;
    color: white;
}

.btn2 {
    padding: 10px;
    border-radius: 10%;
    border-style: none;
    background-color: rgb(104, 220, 213);
    color: white;
}


/* main part styles */

.main-container , .gamer {
    
    text-align: right;
    align-items: center;
    padding: 50px;
    justify-content: space-around;
    display: inline-block
}

.main-container {
    display: flex;
    
}

.big {
    position: absolute
}

.small {
    position: relative
    
}

/* footer styles */

footer {
    height: 380px;
    width: 1250px;
    background-color: #0B0223;
    justify-content: center;
    margin-top: 250px;
}

.f-logo {
    display: flex;
    justify-content: center;
    padding:  40px;
    gap: 10px;
}

 footer .footer-list {
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

footer .footer-icon {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 15px;
}

footer .options {
    color: gray;
    display: flex;
    list-style: none;
    font-size: small;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}

.copyright {
    color: gray;
    font-size: smaller;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


/* section-3 starts */
.card-header {
    margin-left: 450px;
}


.card {
    margin-left: 200px;
    margin-top: 50px;
   
}

.card-description {
    margin-left: 480px;
    margin-top: 10px;
}


/* Responsive styles */
/* for mobile devices */

@media screen and (max-width:576px) {
    .nav-container {
        display: block;
    }
}



